dotenv
fastapi
uvicorn[standard]
pydantic
torch
torchvision
pytest
pyright
transformers
sentence_transformers
pillow
langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface
langsmith
langgraph
langchain-google-genai
